/* ============================================== */
/* HTML Body */
/* ============================================== */
html, body {
	margin: 0;
	padding: 0;
    height: 100%;
}

/* ============================================== */
/* Header */
/* ============================================== */
.HeaderMenu {
	overflow: hidden;
	background-color: #333;
    position: relative;
}

.HeaderMenu .menu {
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

.HeaderMenu .menu .item,
.HeaderMenu .menu.icon {
    display: inline-block;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

.HeaderMenu .menu .item:hover,
.HeaderMenu .menu.icon:hover {
    background-color: #555;
    color: white;
}

.HeaderMenu .menu.icon {
    display: none;
}

.HeaderMenu .menu .item.active {
    background-color: #4CAF50;
    color: white;
}

/* ============================================== */
/* Main Page */
/* ============================================== */
.MainPage {
    max-width: 700px;
    margin: auto;
    padding-top: 250px;
    padding-bottom: 250px;
    position: relative;
}

.MainPageBg {
    height: 200px;
}

/* ============================================== */
/* Parallax */
/* ============================================== */
.Parallax .Img {
    background-image: url("/img/img_parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Parallax .Img .Caption {
    background-color: #051039;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

.Parallax .Img .Caption .Text {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
}

.Parallax .Body {
    height: 500px;
    background-color: #f67b20;
    font-size: 36px;
    color: white;
    padding: 10px;
}

.Parallax2 .Img {
    background-image: url("/img/img_parallax2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Parallax2 .Img .Caption {
    background-color: #051039;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

.Parallax2 .Img .Caption .Text {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
}

.Parallax2 .Body {
    height: 500px;
    background-color: #89a830;
    font-size: 36px;
    color: white;
    padding: 10px;
}
/* ============================================== */
/* Responsive Web Design */
/* ============================================== */
@media screen and (max-width: 600px) {
    .HeaderMenu .menu:not(:first-child){
        display: none;
    }

    .HeaderMenu .menu.icon {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    
    .HeaderMenu.RWD .menu {
        display: block;
        text-align: left;
    }
}
/* ============================================== */
