#================================================
# Directory
#================================================

/**/build/
/**/debug/
/**/release/
/**/extract/

#================================================
# File
#================================================

/**/views.json
/**/messages.json
/data/sitemaps/*xml
/**/~$*