/* ============================================== */
/* global */
/* ============================================== */
.* {
	font-family: arial;
	font-style: 16px;
}
/* ============================================== */
/* log */
/* ============================================== */
.log1 {
	border: 1px solid black;
}
/* ============================================== */
