/* ============================================== */
/* import */
/* ============================================== */

@import "/com/css/styles.css";

/* ============================================== */
/* Access */
/* ============================================== */

.Access1 {
    border: 1px solid transparent;
    padding: 10px;
}

.Access2 {
    border: 1px solid transparent;
}

.Access3 {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
}

.Access4 {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
}

.Access5 {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    font-size: 20px;
}

/* ============================================== */
/* Header */
/* ============================================== */

.Header1 {
    border: 1px solid #2f3959;
    background-color: #2f3959;
    min-height: 50px;
    padding: 0 10px;
}

.Header2 {
    border: 1px solid #2f3959;
    background-color: #2f3959;
    max-width: 800px;
    min-height: 50px;
    position: relative;
    margin: auto;
}

.Header3 {
    border: 1px solid #2f3959;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
	text-align: left;
	font-size: 0;
	word-spacing: 0px;
}

.Header4 {
    border: 1px solid #2f3959;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: 28px;
	font-size: 16px;
}

.Header5 {
	border: 1px solid #2f3959;
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
	font-family: akronim;
}

.Header6 {
    border: 1px solid #2f3959;
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translate(0, -50%);
	text-align: left;
	font-size: 0;
	word-spacing: 10px;
}

.Header7 {
	border: 1px solid white;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	word-spacing: 0;
	font-weight: bold;
	height: 30px;
	padding: 5px 5px;
}

.Header8 {
	border: 1px solid #2f3959;
	position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
	text-align: right;
	font-size: 0;
	word-spacing: 5px;
}

.Header9 {
	border: 1px solid #051039;
	background-color: #051039;
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
}

.Header10 {
	border: 1px solid #2f3959;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
}

.Header11 {
    border: 1px solid #2f3959;
    background-color: #2f3959;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    width: 250px;
	font-size: 16px;
}

.Header12 {
    border: 1px solid #2f3959;
	background-color: #2f3959;
    display: block;
    position: relative;
    height: 40px;
    cursor: pointer;
}

.Header12:hover {
    border: 1px solid #1f2949;
	background-color: #1f2949;
}

.Header12:active {
    border: 1px solid #2f3959;
	background-color: #2f3959;
}

.Header13 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0;
}

.Header14 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
	font-size: 20px;
}

.Header15 {
	display: none;
}

/* ============================================== */
/* Home */
/* ============================================== */

.Home1 {
    border: 1px solid transparent;
    min-height: 50px;
    padding: 0px 10px;
}

.Home2 {
    border: 1px solid transparent;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.Home3 {
    border: 1px solid transparent;
    padding: 20px 0;
}

.Home4 {
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.Home5 {
    border: 1px solid transparent;
    display: block;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.Home5:hover {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Home5:hover .Home6 {
    border: 1px solid transparent;
    background-color: #051039;
}

.Home5:active {
    border: 1px solid transparent;
    background-color: #051039;
}

.Home5:active .Home6 {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Home6 {
    border: 1px solid transparent;
    background-color: #2f3959;
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
	font-size: 18px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
}

.Home7 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(0, -50%);
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0;
}

.Home8 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
	font-size: 20px;
}

/* ============================================== */
/* Login */
/* ============================================== */

.Login1 {
    border: 1px solid transparent;
    min-height: 50px;
    padding: 0px 10px;
}

.Login2 {
    border: 1px solid transparent;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.Login3 {
    border: 1px solid transparent;
    padding: 20px 0;
}

.Login4 {
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.Login5 {
    border: 1px solid transparent;
    display: block;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.Login5:hover {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Login5:hover .Login6 {
    border: 1px solid transparent;
    background-color: #051039;
}

.Login5:active {
    border: 1px solid transparent;
    background-color: #051039;
}

.Login5:active .Login6 {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Login6 {
    border: 1px solid transparent;
    background-color: #2f3959;
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
	font-size: 18px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
}

.Login7 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(0, -50%);
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0;
}

.Login8 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
	font-size: 20px;
}

/* ============================================== */
/* LoginEmail */
/* ============================================== */

.LoginEmail1 {
    border: 1px solid transparent;
    background-color: #051039;
    min-height: 50px;
    padding: 10px 10px;
}

.LoginEmail2 {
    border: 1px solid transparent;
    background-color: #051039;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.LoginEmail3 {
    border: 1px solid transparent;
    background-color: #051039;
    padding: 10px 0;
}

.LoginEmail4 {
    border: 1px solid transparent;
    background-color: #051039;
    font-size: 25px;
    font-weight: bold;
}

.LoginEmail5 {
    border: 1px solid transparent;
}

.LoginEmail6 {
    border: 1px solid transparent;
    height: 35px;
    position: relative;
}

.LoginEmail7 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.LoginEmail8 {
    border: 1px solid transparent;
    height: 35px;
    position: relative;
}

.LoginEmail9 {
    border: 1px solid #2f3959;
    background-color: #1f2949;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.LoginEmail10 {
    border: 1px solid transparent;
    height: 70px;
    position: relative;
}

.LoginEmail11 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

.LoginEmail12 {
    border: 1px solid transparent;
    background-color: #2f3959;
    line-height: 30px;
    padding: 0px 10px;
}

.LoginEmail12:hover {
    background-color: #3f4969;
}

.LoginEmail12:active {
    background-color: #2f3959;
}

.LoginEmail13 {
    border: 1px solid transparent;
    height: 30px;
    position: relative;
}

.LoginEmail14 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

/* ============================================== */
/* Page */
/* ============================================== */

.Page1 {
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

/* ============================================== */
/* Policy */
/* ============================================== */

.Policy1 {
    border: 1px solid transparent;
    min-height: 50px;
    padding: 0 10px;
}

.Policy2 {
    border: 1px solid transparent;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.Policy3 {
    border: 1px solid transparent;
    padding: 20px 0;
}

.Policy4 {
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.Policy5 {
    border: 1px solid #051039;
    display: block;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.Policy5:hover {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Policy5:hover .Policy6 {
    border: 1px solid transparent;
    background-color: #051039;
}

.Policy5:active {
    border: 1px solid transparent;
    background-color: #051039;
}

.Policy5:active .Policy6 {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Policy6 {
    border: 1px solid transparent;
    background-color: #2f3959;
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
	font-size: 18px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
}

.Policy7 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(0, -50%);
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0;
	padding-right: 40px;
	text-align: left;
}

.Policy8 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
	font-size: 20px;
}

/* ============================================== */
/* PrivacyPolicy */
/* ============================================== */

.PrivacyPolicy1 {
    border: 1px solid transparent;
    padding: 10px;
}

.PrivacyPolicy2 {
    border: 1px solid transparent;
    max-width: 600px;
    margin: auto;
}

.PrivacyPolicy3 {
    border: 1px solid transparent;
    padding: 10px 0;
    color: #aaaaff;
}

.PrivacyPolicy4 {
    border: 1px solid transparent;
    text-align: left;
    padding: 10px 0;
}

.PrivacyPolicy5 {
    border: 1px solid transparent;
    text-align: left;
    padding: 10px 10px 10px 40px;
}

.PrivacyPolicy6 {
    color: lime;
}

/* ============================================== */
/* Register */
/* ============================================== */

.Register1 {
    border: 1px solid transparent;
    min-height: 50px;
    padding: 0px 10px;
}

.Register2 {
    border: 1px solid transparent;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.Register3 {
    border: 1px solid transparent;
    padding: 20px 0;
}

.Register4 {
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.Register5 {
    border: 1px solid transparent;
    display: block;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.Register5:hover {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Register5:hover .Register6 {
    border: 1px solid transparent;
    background-color: #051039;
}

.Register5:active {
    border: 1px solid transparent;
    background-color: #051039;
}

.Register5:active .Register6 {
    border: 1px solid transparent;
    background-color: #2f3959;
}

.Register6 {
    border: 1px solid transparent;
    background-color: #2f3959;
	position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
	font-size: 18px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
}

.Register7 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(0, -50%);
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0;
}

.Register8 {
    border: 1px solid transparent;
	position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
	font-size: 20px;
}

/* ============================================== */
/* RegisterEmail */
/* ============================================== */

.RegisterEmail1 {
    border: 1px solid transparent;
    background-color: #051039;
    min-height: 50px;
    padding: 10px 10px;
}

.RegisterEmail2 {
    border: 1px solid transparent;
    background-color: #051039;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
}

.RegisterEmail3 {
    border: 1px solid transparent;
    background-color: #051039;
    padding: 10px 0;
}

.RegisterEmail4 {
    border: 1px solid transparent;
    background-color: #051039;
    font-size: 25px;
    font-weight: bold;
}

.RegisterEmail5 {
    border: 1px solid transparent;
}

.RegisterEmail6 {
    border: 1px solid transparent;
    height: 35px;
    position: relative;
}

.RegisterEmail7 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.RegisterEmail8 {
    border: 1px solid transparent;
    height: 35px;
    position: relative;
}

.RegisterEmail9 {
    border: 1px solid #2f3959;
    background-color: #1f2949;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.RegisterEmail10 {
    border: 1px solid transparent;
    height: 70px;
    position: relative;
}

.RegisterEmail11 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

.RegisterEmail12 {
    border: 1px solid transparent;
    background-color: #2f3959;
    line-height: 30px;
    padding: 0px 10px;
}

.RegisterEmail12:hover {
    background-color: #3f4969;
}

.RegisterEmail12:active {
    background-color: #2f3959;
}

.RegisterEmail13 {
    border: 1px solid transparent;
    height: 30px;
    position: relative;
}

.RegisterEmail14 {
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

/* ============================================== */
/* Terms */
/* ============================================== */

.Terms1 {
    border: 1px solid transparent;
    padding: 10px;
}

.Terms2 {
    border: 1px solid transparent;
    max-width: 600px;
    margin: auto;
}

.Terms3 {
    border: 1px solid transparent;
    padding: 10px 0;
    color: #aaaaff;
}

.Terms4 {
    border: 1px solid transparent;
    text-align: left;
    padding: 10px 0;
}

.Terms5 {
    border: 1px solid transparent;
    text-align: left;
    padding: 10px 10px 10px 40px;
}

.Terms6 {
    border: 1px solid transparent;
    padding: 10px 0;
    color: #aaffaa;
    text-align: left;
}

.Terms7 {
    border: 1px solid transparent;
    text-align: center;
    padding: 10px 0;
}

.Terms8 {
    color: lime;
}

.Terms8:hover {
    text-decoration: underline;
}

.Terms9 {
    color: lime;
}

/* ============================================== */
/* Test */
/* ============================================== */

.Test1 {
    border: 1px solid red;
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-family: courier;
}

/* ============================================== */
/* Mobile */ 
/* ============================================== */

@media (max-width:1024px) {

}

/* ============================================== */

@media (max-width:960px) {

}

/* ============================================== */

@media (max-width:640px) {
    /* ---------------------------------------------- */
    /* Header */
    /* ---------------------------------------------- */
    
    .Header6 {
        display: none;
    }

    .Header15 {
        display: block;
    }

    /* ---------------------------------------------- */
}

/* ============================================== */
